<div class="weather">
  <header class="weather__header">
    <a routerLink="/home">
      <img alt="logo" class="weather__logo" src="assets/horizontal_logo.svg">
    </a>
  </header>
  <main class="main">
    <h1 class="main__title">Weather Forecast</h1>
    <div class="main__container">
      <div class="main__left">
        <form [formGroup]="weatherForm" class="form">
          <div class="input__container">
            <mat-form-field appearance="standard" class="form__input">
              <mat-label>Longitude</mat-label>
              <input formControlName="longitude" matInput placeholder="Longitude" step="any" type="number">
              <mat-hint align="start">
                Value between <strong>-180</strong> and <strong>180</strong>
              </mat-hint>
              <mat-error
                *ngIf="weatherForm.get('longitude')?.touched && weatherForm.get('longitude')?.hasError('required')">This
                field is required.
              </mat-error>
              <mat-error
                *ngIf="weatherForm.get('longitude')?.touched && (weatherForm.get('longitude')?.hasError('min') || weatherForm.get('longitude')?.hasError('max'))">
                Value is not in required range.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="form__input">
              <mat-label>Latitude</mat-label>
              <input formControlName="latitude" matInput placeholder="Latitude" step="any" type="number">
              <mat-hint align="start">Value between <strong>-90</strong> and <strong>90</strong></mat-hint>
              <mat-error
                *ngIf="weatherForm.get('latitude')?.touched && weatherForm.get('latitude')?.hasError('required')">This
                field is required.
              </mat-error>
              <mat-error
                *ngIf="weatherForm.get('latitude')?.touched && (weatherForm.get('latitude')?.hasError('min') || weatherForm.get('latitude')?.hasError('max'))">
                Value is not in required range.
              </mat-error>
            </mat-form-field>
          </div>
          <button (click)="getWeatherForecast()" [disabled]="weatherForm.invalid" class="form__button" color="primary"
                  mat-raised-button>
            Check forecast
          </button>
        </form>
      </div>
      <div [class]="!dataSource.data.length ? 'main__right--empty' : 'main__right'">
        <div class="forecast">
          <h2 *ngIf="!dataSource.data.length && !isLoading">Here will be displayed weather data.</h2>
          <h2 *ngIf="!dataSource.data.length && !isLoading">Make a request!</h2>
          <mat-spinner [class]="isLoading ? 'table__spinner spinner--visible' : 'table__spinner spinner--hidden'"
                       [diameter]="40"></mat-spinner>
          <div *ngIf="dataSource.data.length" class="mat-elevation-z8 table__container">
            <div class="table__wrapper">
              <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="time" position>
                  <th *matHeaderCellDef mat-header-cell mat-sort-header="time">Time</th>
                  <td *matCellDef="let weather" mat-cell>{{weather.time | date: 'HH:mm' }}</td>
                </ng-container>
                <ng-container matColumnDef="air_temperature">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header="air_temperature">Temperature</th>
                  <td *matCellDef="let weather" mat-cell>{{weather.air_temperature}} °C</td>
                </ng-container>
                <ng-container matColumnDef="relative_humidity">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header="relative_humidity">Humidity</th>
                  <td *matCellDef="let weather" mat-cell>{{weather.relative_humidity}} %</td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                <tr *matRowDef="let rowData;let even = even;columns: displayedColumns" [ngClass]="{gray: even}"
                    mat-row></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             aria-label="Select page of periodic elements"
                             class="table__paginator"
                             showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
