/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-sort-header-container {
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

table {
  border-collapse: collapse;
}
