<div class="table">
  <div class="table__text">
    <h3>This is weather forecast for this latitude and this longitude.</h3>
    <div class="rate-limit">
      This is for rate limited
    </div>
  </div>
  <div class="table__container" *ngIf="dataSource">
    <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z6">
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Time" sortActionDescription="Sort by time">
          Time
        </th>
        <td mat-cell *matCellDef="let weather">{{weather.time}}</td>
      </ng-container>
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="temperature" sortActionDescription="Sort by temperature">
          Temperature
        </th>
        <td mat-cell *matCellDef="let weather">{{weather.data.instant.details.air_temperature}}</td>
      </ng-container>
      <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="humidity" sortActionDescription="Sort by humidity">
          Temperature
        </th>
        <td mat-cell *matCellDef="let weather">{{weather.data.instant.details.air_temperature}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>
</div>
